{% extends "base.html" %}

{% block metadata %}
    {{ super() }}
    <title> Upload Image </title>
{% endblock %}

{% block content %}
<div class="mdl-grid portfolio-max-width portfolio-contact">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Upload</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form action="/upload_image" method="post" enctype="multipart/form-data">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" pattern="[A-Z,a-z,0-9, ]*" type="text" id="Name" name="name">
                    <label class="mdl-textfield__label" for="Name">Name</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                        <input class="mdl-textfield__input" placeholder="No file chosen" type="text" id="TEXT_ID" readonly />
                        <div class="mdl-button mdl-button--icon mdl-button--file">
                            <i class="material-icons">attach_file</i>
                            <input type="file" name="file" id="ID" onchange="document.getElementById('TEXT_ID').value=this.files[0].name;" />
                        </div>
                        </div>
                <button class="mdl-button mdl-js-button standard__button mdl-js-ripple-effect" type="submit" value="Upload" />
                    Send
                </button>   
            </form>
        </div>
    </div>
</div> 
{% endblock %}